body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #020b24;
  color: white;
}

.title {
  text-align: center;
  margin-top: 40px;
  font-size: 32px;
  color: #4a8bff;
}

.profile-container {
  display: flex;
  gap: 50px;
  padding: 40px;
  width: 90%;
  margin: auto;
}

.profile-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic {
  width: 160px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  border: 2px solid #4a8bff;
  margin-bottom: 20px;
}

.file-upload input {
  background: white;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
  color: black;
}

.profile-right {
  flex: 1;
}

.row {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-box,
.input-box-full {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.input-box-full {
  width: 100%;
}

label {
  font-size: 14px;
  margin-bottom: 5px;
}

input {
  padding: 12px;
  border-radius: 6px;
  border: none;
  font-size: 15px;
  background: #0d1f3d;
  color: white;
}
